<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="application/javascript" src="js.js"></script>
    <title>Register</title>
</head>
<body>
<form accept-charset="UTF-8" action="/api/v1/modeled" method="post">
    <input type="text" name="text">
    <button type="submit">Добавить</button>
</form>
</body>
</html>
