<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${accountTitle}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-10 col-md-8 mx-auto">
                <h1 class="fw-light">Главная страница ЛК</h1>
                <p class="lead text-body-secondary">
                    Личный кабинет Wallet кошелек
                </p>
                <div class="container mt-5">
                    <h1>Ваши сбережения</h1>
                    <div th:each="element:${account}" class="alert alert-info mt-2">
                        <p th:text="|Ваш UUID : ${element.getUUID()}|"/>
                        <p th:text="|Ваш логин : ${element.getLogin()}|"/>
                        <p th:text="|Ваш пароль : ${element.getPassword()}|"/>
                        <p th:text="|Ваш р/с : ${element.getAmount()}|"/>
                        <p th:text="${warning}"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-2">
            <h2>Выберите действие</h2>
            <form method="post" action="/calculator">
                <label class="form-control">
                    <input type="text" name="amount" placeholder="введите число" class="form-control"><br>
                    <input th:each="element:${account}" type="hidden" name="UUID" th:value="${element.getUUID()}">
                </label>
                <button type="submit" name="button" value="plus" class="btn btn-primary my-2">Зачисление</button>
                <button type="submit" name="button" value="minus" class="btn btn-secondary my-2">Списание</button>
            </form>
        </div>
    </section>

</main>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>
